a.dotted {
    color: #333333;
    border-bottom: 1px dashed #999;
    text-decoration: none;
}

/* Give logo on sidebar padding */
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    padding-left: 20px;
    padding-right: 20px;
}
